* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

b,
strong {
  font-weight: normal;
}

address,
em,
i {
  font-style: normal;
}

img {
  max-width: 100%;
}


/* ---------------------------------- */

.all {
  /* border: 1px solid red; */
  width: 1000px;
  display: flex;
}

.a {
  width: 200px;
}

.a>h1 {
  /* border: 1px solid lime; */
  font-size: 35px;
  font-weight: bold;
  color: purple;
  text-align: center;
  padding: 10px;
}

.a>div {
  padding: 10px;

}

.gnb {
  /* border: 1px solid red; */

}

.gnb>li {
  height: 40px;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}


.gnb>li:hover {
  height: 215px;
}

.gnb>li>a {
  /* border: 1px solid blue; */
  display: block;
  text-align: center;
  padding: 10px;
}

.gnb>li>a:hover {
  background-color: #000;
  color: #fff;
}

.gnb>li ul>li>a {
  /* border: 1px solid green; */
  display: block;
  text-align: center;
  padding: 10px;
}

.gnb>li ul>li>a:hover {
  background-color: #000;
  color: #fff;
}

/* ------------------------------------ */

main {
  width: 800px;
}

.station {
  width: 800px;
  height: 350px;
}

.train {
  width: 100%;
  height: 100%;
  position: relative;
}

.train>li {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.train>li.on {
  opacity: 1;
}

.train>li img {
  width: 800px;
  height: 350px;
  object-fit: cover;
}

/* ---------------------------------------------- */

.c {
  /* border: 1px solid red; */
  display: flex;
  height: 200px;
}

.c>div{
  flex: 1;
  position: relative;
}

.tabMenu {
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
  font-size: 13px;
  display: flex;
}

.tabMenu>dt {
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  cursor: pointer;
}

.tabMenu>dt.on {
  border-bottom: 3px solid black;
}

.tabMenu>dd {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 150px;
  /* border: 1px solid lime; */
  padding: 20px 10px;
  box-sizing: border-box;
  display: none;
}

.tabMenu>dd.on {
  display: block;
}

.noticelist>li {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}

.gallerylist {
  /* border: 1px solid lime; */
  display: flex;
  justify-content: space-between;
}

/* ----------------------------------------------------------------- */

.banner {
  /* border: 1px solid red; */
  width: 265px;
  height: 100%;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.direct {
  /* border: 1px solid lime; */
  width: 265px;
  height: 100%;
}

.direct img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------------------------------------------------------------- */

footer{
  /* height: 100px; */
}


footer>div{
  /* border: 1px solid lime; */
  display: flex;
  height: 100px;
}



footer>div>h1{
  /* border: 1px solid red; */
  font-size: 35px;
  font-weight: bold;
  color: purple;
  text-align: center;
  padding: 0 10px;
  /* transform: translateY(-50%); */
  line-height: 100px;
}

footer>div>div{
  margin: 0 auto;
  
}

.ft_gnb{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ft_gnb>li{
  margin-right: 10px;
}

footer>div>div>p{
  line-height: 50px;
}


/* =-------------------------------- */

.popup{
  border: 1px solid black;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 250px;
  left: 250px;
  z-index: 1;
  background: #fff;
  display: none;
}

.popup.on{
  display: block;
}

.popup>h1{
  padding: 10px ;
}

.popup>p{
  padding: 10px ;
}

.popup>span{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}