* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

address,
em,
i {
  font-style: normal;
}

strong,
b {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html {
  font-family: 'Noto Sans KR', sans-serif;

}

.cw {
  width: 1440px;
  margin: 0 auto;
}

main.cw {
  width: auto;
}

.blankstyle::after {
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 4px;
  background: url(../pearlabyss/img/icn_header_new_win.svg) no-repeat 50% 50%;
}






/* header */




































/* .f_left {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 1060px;

}

.f_left>ul {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
}

.f_left>ul>li>a {
  border: 1px solid red;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}



.footMenu2 {
  border: 1px solid pink;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 1060px;
  text-align: center;
}

.footMenu2>ul {
  border: 1px solid blue;
  display: flex;
}

.footMenu2>ul>li {
  margin-right: 80px;
}

.footMenu2>ul>li:last-of-type {
  margin-right: 0;
}

.f_logo {
  border: 1px solid lime;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

}

.f_logo>h1>a img {
  width: 123px;
  height: 15px;
  object-fit: contain;
  margin-right: 10px;
}

.f_logo>p {
  color: #777;
}


.f_sns {
  position: relative;
  top: 250px;
  left: 645px;
  z-index: 6;
}

.f_sns>ul {
  border: 1px solid black;

  display: flex;
  justify-content: space-between;
}

.f_sns>ul>li>a img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.f_sns>ul>li>a img :last-of-type {
  margin-right: 0;
} */