@media (max-width:768px) {

  /* 컨텐츠 너비/브라우저 너비 x100  ->너비 퍼센트 구하기*/

  .pc {
    display: none;
  }

  header.mo {
    border: 1px solid red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    z-index: 5;
  }

  .inner_mo_header {
    width: 88%;
    margin: 0 auto;
    border: 1px solid lime;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .btnMoMenu {
    border: 1px solid red;
    width: 6.4vw;
    height: 6.4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  .btnMoMenu>span {
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 3px 0;
  }




  .btnMenuLang {
    border: 1px solid red;
    width: 6.4vw;
    height: 6.4vw;
  }

  .btnMenuLang img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .moLogo {
    width: 31.47vw;
    max-width: 230px;

  }

  .moLogo a img {
    width: 100%;
  }

  /* mobile menu */
  .moMenu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    pointer-events: none;
  }

  .blackcover {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    pointer-events: none;
  }

  .moMenu.show .blackcover {
    opacity: 0.8;
    pointer-events: auto;
  }

  .moGnb {
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    max-width: 290px;
    height: 100%;
    /* overflow: auto; */
    transform: translateX(-100%);
    transition: all 0.5s ease 0.1s;

  }

  .moMenu.show .moGnb {
    transform: translateX(0%);
  }


  .logoMo {
    width: 31.47vw;
    max-width: 230px;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 32px;
  }

  .logoMo img {
    width: 100%;
  }

  .mobileMenuList ul {
    /* display: none; */
    margin-top: 14px;
    padding-left: 10px;
  }

  .mobileMenuList ul>li {
    color: #9a9a9a;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .mobileMenuList ul>li:last-of-type {
    margin-bottom: 0;
  }

  .mobileMenuList>li>a {
    border-bottom: 1px solid #9a9a9a;
    display: block;
    padding: 12px 0;
  }




  .mobileMenuList {
    width: 90%;
    margin: 0 auto;
    height: calc(100% - 130px);
    overflow: auto;
  }


  .mobileMenuList>li {
    border-bottom: 1px solid #ccc;
    padding: 12px;
    font-size: 1.12rem;
    font-weight: bold;
    position: relative;
  }

  .mobileMenuList>li::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid black;
    right: 34px;
    top: 15px;
    border-right: none;
    border-top: none;
    transform: rotate(-45deg);
  }



  /* main */



  main {
    position: relative;
  }

  main>div {
    position: relative;
    height: 780px;
  }

  main.cw>.videobanner>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .videobanner {
    position: relative;
    height: 60vh;
  }

  .videobanner::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
    /* opacity: 0.3; */
  }


  .videobanner>.flotingtxt {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translateX(-50%)translateY(-50%); */
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 74vw;
  }

  .flotingtxt>h2 {
    margin-bottom: 50px;
    width: 100%;

  }


  .flotingtxt>h2 img {
    width: 100%;
  }

  .flotingtxt>a {
    padding: 3vw 13vw;
    background: rgb(255, 255, 255, 0.391);
    display: inline-block;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
  }




  /* .videobanner>a {
  width: 310px;
  height: 75px;
  background: white;
  position: absolute;
  top: calc(50% + 100px);
  left: calc(50% - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
} */


  .news h3 {
    font-weight: bold;
    margin: 40px 0 20px 0;
  }

  .news {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    margin-top: 60px;
  }


  .news ul h4 {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .news ul {
    display: flex;
    justify-content: space-between;
  }

  /* .news ul>li {} */

  .news ul>li:first-of-type {
    padding-left: 0;
  }

  .news ul>li:last-of-type {
    border-right: 0;
    padding-left: 20px;
  }

  .news .swiper-pagination {
    position: relative;
    border: 1px solid red;
    margin-top: 50px;
  }



  .date {
    margin-bottom: 20px;
    font-size: 15px;
  }


  /*--------------------- images-------------------- */
  .images {
    width: 100%;
    position: relative;

  }

  .images>ul {
    /* display: flex; */
    border: 1px solid red;
  }

  .images>ul>li {
    position: relative;
    overflow: hidden;
    height: 220px;
    border: 1px solid lime;

  }

  .images>ul>li>a>h4 {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 400px;
    z-index: 5;
    text-align: center;
    color: #fff;
    transition: all 0.5s ease 0s;

  }

  /* .images>ul>li:hover h4 {
    transform: translateX(-50%)translateY(-30px);
  } */

  /* .images>ul>li:hover p:after {
    opacity: 1;
  } */

  .images>ul>li>a>p::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    width: 30px;
    height: 1px;
    background: #fff;
    /* opacity: 0; */
  }

  .images>ul>li>a>p {
    font-size: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 100px;
    color: #fff;
    z-index: 5;
    text-align: center;
    width: 200px;
    /* opacity: 0; */
  }

  /* .images>ul>li:hover p {
    opacity: 1;
  } */

  /* .images>ul::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 577px;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;} */
  /* 나중에 배움 */




  .images>ul>li a img {
    display: flex;
    position: relative;
    filter: grayscale(1)brightness(0.7);
    /* transition: all 0.5s ease 0s; */
    width: 100%;
  }

  /* .images>ul>li:hover img {
    transform: scale(1.1);
    filter: grayscale(0)brightness(1);
  } */







  /* notice */



  .notice {
    border: 1px solid red;
    width: 1440px;
    height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    margin-top: 500px;

  }

  .notice img {
    width: 100%;
    box-sizing: border-box;
  }

  .notice>ul {
    display: flex;
  }

  .notice>ul>li {
    margin-right: 10px;
    flex: 1;

  }

  .notice p {
    font-size: 14px;
    padding: 10px 0;
    color: #777;
  }

  .notice h4 {
    font-size: 18px;
    font-weight: bold;
  }

  .notice>ul>li:last-of-type {
    margin-right: 0;
  }

  .notice>ul>li:nth-of-type(2) a {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }








  /* footer */



  footer {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    display: flex;
    justify-content: center;
    position: relative;
    height: 300px;
    padding: 50px 10px 30px 10px;

  }




  footer>section {
    width: 1440px;
    display: flex;
    justify-content: flex-start;
    /* flex-direction: column;
  align-items: center; */
    position: relative;
  }

  .f_left>ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .f_left>ul>li>a {
    font-weight: bold;
  }

  .f_left>ul>li>ul>li {
    color: #777;
  }


  .footMenu2>ul {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 0;
  }

  .footMenu2>ul>li {
    margin-right: 100px;
  }



  .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 250px;
    left: 0;
  }

  .bottom::before {
    content: '';
  }


  .bottom>.f_logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 70px;
  }

  .bottom>.f_logo>p {
    font-size: 14px;
    color: #777;
  }

  .bottom>.f_logo h1 a img {
    width: 124px;
    height: 14px;
    object-fit: contain;
  }

  .bottom>.f_sns>ul {
    display: flex;
    position: absolute;
    top: 150px;
    right: 0;
    padding-bottom: 30px;
  }

  .bottom>.f_sns>ul img {
    width: 40px;
    height: 40px;
    margin-left: 10px;

  }
}