* {
  margin: 0;
  padding: 0;
}

.box {
  width: 600px;
  height: 700px;
  background: pink;
  margin: 0 auto;
  display: flex;
  font-size: 5rem;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  /* wrap:줄바꿈 */
  /* align-content: center; */
  /* flex-wrap: wrap; */
}





.box>div {
  /* flex-basis: 100px; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  flex: 1;
  /* flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1; */
}




.box .a {
  background: red;
  /* flex-grow: 2; */
  /* flex-shrink: 2; */
  /* order: 0; */
}

.b {
  background: green;
  /* order: 1; */
}

.c {
  background: blue;
  /* order: 3; */
}

.d {
  background: orange;
  /* order: 2; */
}