/* 1.rest */
* {
  margin: 0;
  padding: 0;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

address,
em,
i {
  font-style: normal;
}

strong,
b {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
} */

/* 2.common - style */

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  background-color: ivory;
}

/* 3.layout - (크기, 배치) */

.container {
  width: 900px;
  margin: 0 auto;
  background: url('../images/dream.jpg') no-repeat 100% 100%;
}

/* 4. deatil(글씨크기, 글씨색, 배경색, 마진, 패딩) */

h1 {
  margin: 10px auto;
  padding: 10px 0;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  font-size: 50px;
  background-color: green;
  color: white;
  text-align: center;
}

h2 {
  font-size: 30px;
  background-color: orange;
  margin: 10px auto;
  border-bottom: 3px solid red;
}

p {
  font-size: 14px;
  margin: 10px auto;
}

.lorem {
  padding-bottom: 10px;
  border-bottom: 3px solid red;
}

.copy {
  font-size: 30px;
  font-weight: bold;
}