* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

b,
strong {
  font-weight: normal;
}

img {
  max-width: 100%;
}

/* layout */

.all {
  width: 100%;

}

.main {
  display: flex;
}

header {
  border: 1px solid red;
  width: 200px;
  position: relative;
}

header>h1 {
  width: 200px;
  height: 40px;
}

header>h1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 20px;
}

main {
  /* border: 1px solid red; */
  width: calc(100% - 200px);
}


.gnb {
  position: fixed;
  top: 50px;
  left: 20px;
  border: 1px solid lime;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}

.gnb>li {
  border: 1px solid blue;
  width: 150px;
  height: 50px;
  overflow: hidden;
  transition: all 0.5s ease 0s
}

.gnb>li>a {
  display: block;
  height: 50px;
  line-height: 50px;
}

.gnb>li:hover {
  height: 250px;
}

.gnb>li>ul>li {
  height: 50px;
}

.gnb>li>ul>li>a {
  height: 50px;
  display: block;
  line-height: 50px;
}

.spot>ul {
  border: 1px solid red;
  margin-top: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spot>ul>li {
  padding-right: 5px;
  border-right: 1px solid black;
}

.spot>ul>li:last-of-type {
  border-right: 0;
  padding-left: 5px;
}



.station {
  width: calc(100% - 200px);
  height: 400px;
  overflow: hidden;
  position: relative;

}

.train {
  width: 100%;
  height: 300%;
  transition: all 0.5s ease 0s;
}

.train>li {
  width: 100%;
  height: 400px;
}

.train>li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.direct {
  border: 1px solid red;
  position: absolute;
  top: 0;
  right: 0px;
}

.direct>li {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.direct>li:last-of-type {
  margin-bottom: 0;
}


.direct>li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.banner {
  width: calc(100% - 200px);
  height: 200px;
}

.banner>figure {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.banner>figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tabMenu {
  border: 1px solid red;
  width: calc(100% - 200px);
  height: 250px;
}