* {
  margin: 0;
  padding: 0;
}

.box {
  border: 1px solid red;
  width: 300px;
  height: 300px;
  /* transition-property: width; */
  /* 전환할 속성 */
  /* transition-duration: 2s; */
  /* 스타일 전환 시간 */
  /* transition-timing-function: linear; */
  /* 속도감 
  linear : 일정한 속도감 */
  /* transition-delay: 0s; */
  /* 몇 초뒤에 전환이 되는지 */


  transition:
    width 1s cubic-bezier(0.66, 0.57, 0.05, 0.95) 0s,
    height 1s linear 1s,
    background 1s cubic-bezier(0.66, 0.57, 0.05, 0.95) 2s,
    border-radius 0.5s ease 3s;
}


.box:hover {
  width: 500px;
  height: 500px;
  background: gold;
  border-radius: 50%;
}

li {
  list-style: none;
}


.menu {
  border: 1px solid red;
  width: 600px;
  height: 100px;
  display: flex;

}

.menu>li {
  border: 1px solid black;
  flex: 1;
  transition: all 0.5s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}




.menu>li:hover {
  background: black;
  color: white;
  flex: 2;
}