* {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 500px;
}

.boxa {
  border: 1px solid red;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  /* animation-name: myrotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 4;
  animation-direction: normal; */
  /* 진행방향 reverse(100% -> 0%) , alternate(100% -> 0% -> 100% -> 0%)*/
  animation: myrotate 5s linear 0s 2;
}

@keyframes myrotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    border-radius: 50%;
  }

  50% {
    background: red;
  }

  100% {
    transform: rotate(360deg);
  }
}

.boxb {
  width: 400px;
  height: 400px;
  background: blue;
  animation: ex 5s linear 0s infinite;
  perspective-origin: 50% 50%;
  transition: all 0.5s ease 0s;

}

.boxb:hover {
  animation-play-state: paused;
  /* 마우스를 올렸을 때 애니메이션이 일시정지 */
  background: red;
  border-radius: 50%;
}

@keyframes ex {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%)translateY(100%);
  }

  75% {
    transform: translateX(0%)translateY(100%)
  }

  100% {
    transform: translateX(0%);
  }

}

.spantag {
  border: 1px solid red;
  transition: all 0.5s ease 0s;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 300px;
}

.spantag:hover {
  transform: rotate(90deg);
}